{% extends "base.njk" %}
{% block titulo %}Pacientes | Detalles{% endblock %}

{% block contenido %}

<h1>Detalles Paciente</h1>
<div>
    <p><strong>Nombre: </strong>{{ patient.name }}</p>
    <p><strong>Apellido: </strong>{{ patient.surname }}</p>
    <p><strong>Fecha de nacimiento: </strong>{{ patient.birthDate }}</p>
    <p><strong>Dirección: </strong>{{ patient.address }}</p>
    <p><strong>Número de SS: </strong>{{ patient.insuranceNumber }}</p>
    <p><strong>Imagen:</strong></p>
    <img src="/uploads/{{ patient.image }}" alt="Imagen del paciente" style="max-width: 300px; height: auto;">
</div>

 <a href="/patients/{{ patient.id }}/edit"> Editar</a>

{% endblock %}